.container {
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

button{
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header image{
    width: 30px;
    height: 30px;
}
.discover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.content{
    border: lightgrey;
    border-width: 1px;
    border-radius: 10px;
    margin: 20px 0;
}
.filter{
    margin-left: 15px;
    margin-top: 8px;
    background-color: white;
    width: 25px;
    height: 25px;
}
.content image{
    width: 100px;
    height: 100px;
}
.category{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
/*.buttons button{*/

/*}*/
.shopsy{
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.shopsy div{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.shopsy-comps{
    border-width: 1px;
    border: lightgrey;
    border-radius: 14px;
}
.footer{
    margin-top: -12px;
    display: flex;
    justify-content: space-around;
}

.footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer div text{
    font-size: 10px;;
}