.container {
    display: flex;
    flex-direction: column;
    margin: 25px 10px;
}
button{
    font-weight: bold;
}
.detail-image{
    margin-top: 10px;
    border-width: 1px;
    border: lightgrey;
    border-radius: 10px;
    height: 35%;
    width: 100%;
}
.detail-image image{
    width: 100%;
    height: 90%;
}
.review{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 80px;
}
.color{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.sizes{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.carts{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}